{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.gruppe()}}
	{{einheit.thw()}}
	{{einheit.text('R')}}
	{{einheit.art_text('B')}}
{% endblock %}
