{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block defs %}
{{super()}}
{{einheit.massnahme_weitverkehr_mask()}}
{% endblock %}
{% block svg %}
	{{einheit.trupp()}}
	{{einheit.thw()}}
	{{einheit.massnahme_weitverkehr()}}
{% endblock %}
