{% extends 'templates/person.j2' %}
{%- import 'templates/macros/person.j2' as person -%}
{% block svg %}
	{{person.zug()}}
	{{person.feuerwehr('führer')}}
	<path d="M68,128 l120,0 M144,128 l20,-20 M144,128 l20,20" stroke-width="5" stroke="#FFFFFF" fill="none" />
{% endblock %}
