{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.trupp()}}
	{{einheit.kats()}}
	{{einheit.zugtrupp('#000000')}}
	{{einheit.org_text('IuK', color='#000000')}}
{% endblock %}
