{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{% block svg %}
	{{einrichtung.fuehrung_platz()}}
	{{einrichtung.massnahme_bereitstellung()}}
	{{einrichtung.massnahme_fuest_klein()}}
{% endblock %}