{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{% block svg %}
	{{einrichtung.fuehrung_platz('führung')}}
	{{einrichtung.stelle()}}
	{{einrichtung.platz_text('LSt')}}
{% endblock %}