{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{% block svg %}
	{{einrichtung.fuehrung_platz('logistik')}}
	{{einrichtung.platz_text('Log', y='120')}}
{% endblock %}