{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{% block svg %}
	{{einrichtung.fuehrung_platz()}}
	{{einrichtung.platz_text('M', size="350%", y='128')}}
{% endblock %}