{% extends 'templates/fahrzeug.j2' %}
{%- import 'templates/macros/fahrzeug.j2' as fahrzeug -%}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{fahrzeug.feuerwehr()}}
	{{fahrzeug.normal()}}
	{{einheit.text('ELW 2')}}
{% endblock %}
