{% extends 'templates/fahrzeug.j2' %}
{%- import 'templates/macros/fahrzeug.j2' as fahrzeug -%}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{fahrzeug.feuerwehr()}}
	{{fahrzeug.gl()}}
	{{einheit.text('GW-A')}}
{% endblock %}
