{% extends 'templates/fahrzeug.j2' %}
{%- import 'templates/macros/fahrzeug.j2' as fahrzeug -%}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{fahrzeug.feuerwehr()}}
	{{fahrzeug.gl()}}
	{{fahrzeug.typ_hlf()}}
	{{einheit.typ_text('LF 8/6', '150%', y='95')}}

{% endblock %}
