{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einrichtung.thw()}}
	{{einheit.text('RSt')}}
{% endblock %}
