{% extends 'templates/person.j2' %}
{%- import 'templates/macros/person.j2' as person -%}
{% block svg %}
	{{person.zug()}}
	{{person.person('führer')}}
	{{person.massnahme_betreuung()}}
	{{person.massnahme_rettungsdienst()}}
{% endblock %}
