{%- extends "templates/base.j2" -%}
{% block defs %}
<clipPath id="symbol">
	<rect x="10" y="64" width="236" height="128" />
</clipPath>
<clipPath id="symbol-inner">
	<rect x="15" y="69" height="118" width="226"/>
</clipPath>
{% endblock %}
