{%- extends "templates/base.j2" -%}
{% block defs %}
<clipPath id="base">
	<ellipse cx="128" cy="128" rx="64" ry="64" />
</clipPath>
<clipPath id="symbol">
	<path d="M10 64 L10 192 L246 192 L246 64 L128 16 L10 64 Z" />
</clipPath>
{% endblock %}
