{% extends 'templates/einrichtung.j2' %}
{%- import 'templates/macros/einrichtung.j2' as einrichtung -%}
{% block svg %}
	{{einrichtung.haus_symbol('#FFFFFF', '#000000', '10')}}
	{{einrichtung.massnahme_krankenhaus()}}
{% endblock %}