{% extends 'templates/person.j2' %}
{%- import 'templates/macros/person.j2' as person -%}
{% block svg %}
	{{person.gruppe()}}
	{{person.thw('führer')}}
	{{person.text('B 1', '300%')}}
{% endblock %}
