{% extends 'templates/person.j2' %}
{%- import 'templates/macros/person.j2' as person -%}
{% block svg %}
	{{person.trupp()}}
	{{person.thw('führer')}}
	<ellipse cx="114" cy="100" rx="5" ry="5" fill="#FFFFFF" />
	<ellipse cx="128" cy="100" rx="5" ry="5" fill="#FFFFFF" />
	<ellipse cx="142" cy="100" rx="5" ry="5" fill="#FFFFFF" />
	{{person.text('TZ', '300%')}}
{% endblock %}
