{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.gruppe()}}
	{{einheit.einheit()}}
	{{einheit.massnahme_betreuung('#000000', 'SOZ')}}
{% endblock %}
