{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.gruppe()}}
	{{einheit.leitung()}}
	{{einheit.text('TEL', '350%', '#000000')}}
{% endblock %}
