{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.zug()}}
	{{einheit.feuerwehr()}}
	{{einheit.typ_text('W')}}
	{{einheit.massnahme_loeschen()}}
{% endblock %}
