{% extends 'templates/einheit.j2' %}
{%- import 'templates/macros/einheit.j2' as einheit -%}
{% block svg %}
	{{einheit.trupp()}}
	{{einheit.feuerwehr('logistik')}}
	{{einheit.massnahme_verbrauchsgueter()}}
{% endblock %}
